# Game Editor undo files
*.ged.undo
*.ged.undo.tmp

# Debug files
debug.log

# Executables
*.exe
!GE-MentalHealthProtector.exe

# Test level file
level.c

# Texture and sprite thumbnail configuration files
textures.conf
sprites.conf

# Level project files
*.swp

# Local only files (ideas, concepts, etc.)
/local

# Builds
*/build
